function Main.main 5
push constant 101
push constant 6
call String.new 1
push constant 68
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 3
call String.new 1
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
call Student.new 3
pop local 0
push constant 102
push constant 6
call String.new 1
push constant 66
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 3
call String.new 1
push constant 99
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
call Student.new 3
pop local 1
push constant 103
push constant 6
call String.new 1
push constant 78
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 3
call String.new 1
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
call Student.new 3
pop local 2
push constant 104
push constant 6
call String.new 1
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 3
call String.new 1
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
call Student.new 3
pop local 3
push constant 105
push constant 6
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 3
call String.new 1
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
call Student.new 3
pop local 4
push local 0
call Student.print 1
pop temp 0
push local 1
call Student.print 1
pop temp 0
push local 2
call Student.print 1
pop temp 0
push local 3
call Student.print 1
pop temp 0
push local 4
call Student.print 1
pop temp 0
push local 0
call Student.dispose 1
pop temp 0
push local 1
call Student.dispose 1
pop temp 0
push local 2
call Student.dispose 1
pop temp 0
push local 3
call Student.dispose 1
pop temp 0
push local 4
call Student.dispose 1
pop temp 0
push constant 0
return
